SECRET_KEY={{flask_secret_key}}
DATABASE_HOST={{host}}
DATABASE_NAME={{database_name}}
DATABASE_USER={{postgres_user}}
DATABASE_PASSWORD={{database_password}}
DATABASE_PORT={{port}}
BUCKET_NAME={{bucket_name}}
REGION={{region}}
ANTHROPIC_API_KEY={{llm_api_key}}
SERPER_API_KEY={{serper_api_key}}
MCP_SERVER_LOCAL_PATH={{mcp_local_path}}